* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.container-topo {
    width: 100%;
    background-color: #2f86d6;
}

.topo {
    width: 1024px;
    margin: 0 auto;
    padding: 35px 0;
    position: relative;
}

.logo-icon {
    width: 320px;
    position: relative;
}

.img-logo {
    width: 90px;
}

.text-logo {
    width: 100%;
    position: absolute;
    left: 100px;
    top: 8px;
}

.logo-icon p {
    color: #fff;
    font-weight: bold;
}

nav {
    position: absolute;
    right: 10px;
    top: 80px;
}

nav a {
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #233032;
}

.secao-tabela {
    width: 1080px;
    height: 800px;
    margin: 50px auto;
}

.tabela{
    width: 900px;
    height: 1024px;
}

.titulo-head {
    width: 90px;
    height: 80px;
    background-color: #f1f3f7;
}

th p {
    font-size: 12px;
    color: #a89f9f;
}

.linha-destaque {
    width: 200px;
    height:60px;
    padding-left: 20px;
    background-color: #f1f3f7;
}
